.vscode/
__pycache__/
.DS_Store
test.py
create_py_files.py
Lab1.pdf
Lab2.pdf
Lab3.pdf

# Comment-only exercises: explicitly add with git add -f when ready.
/Lab1/Lab-1_B-5.py
/Lab1/Lab-1_C-6.py
/Lab1/Lab-1_D-1.py
/Lab1/Lab-1_D-2.py
/Lab1/Lab-1_D-3.py
/Lab1/Lab-1_D-4.py
/Lab1/Lab-1_E-1.py
/Lab1/Lab-1_E-2.py
/Lab1/Lab-1_E-3.py
/Lab1/Lab-1_E-4.py
/Lab1/Lab-1_E-5.py
/Lab1/Lab-1_E-6.py
/Lab1/Lab-1_F-1.py
/Lab1/Lab-1_F-2.py
/Lab1/Lab-1_F-3.py
/Lab1/Lab-1_F-4.py
/Lab2/Lab-2_B-3.py
/Lab2/Lab-2_C-1.py
/Lab2/Lab-2_C-2.py
/Lab2/Lab-2_C-3.py
/Lab2/Lab-2_C-4.py
/Lab2/Lab-2_D-1.py
/Lab2/Lab-2_D-2.py
/Lab2/Lab-2_D-3.py
/Lab2/Lab-2_D-4.py
/Lab2/Lab-2_D-5.py
/Lab2/Lab-2_E-1.py
/Lab2/Lab-2_E-2.py
/Lab2/Lab-2_E-3.py
/Lab2/Lab-2_E-4.py
/Lab2/Lab-2_E-5.py
/Lab2/Lab-2_F-1.py
/Lab2/Lab-2_F-2.py
/Lab2/Lab-2_F-3.py
/Lab2/Lab-2_F-4.py
/Lab2/Lab-2_F-5.py
/Lab2/Lab-2_F-6.py
/Lab2/Lab-2_G-1.py
/Lab2/Lab-2_G-2.py
/Lab2/Lab-2_G-3.py
/Lab2/Lab-2_G-4.py
/Lab3/Lab-3_A-5.py
/Lab3/Lab-3_A-6.py
/Lab3/Lab-3_B-4.py
/Lab3/Lab-3_D-4.py
/Lab3/Lab-3_D-5.py
/Lab3/Lab-3_E-1.py
/Lab3/Lab-3_E-2.py
/Lab3/Lab-3_E-3.py
/Lab3/Lab-3_E-4.py
/Lab3/Lab-3_E-5.py
/Lab3/Lab-3_F-1.py
/Lab3/Lab-3_F-2.py
/Lab3/Lab-3_F-3.py
/Lab3/Lab-3_F-4.py
/Lab3/Lab-3_G-1.py
/Lab3/Lab-3_G-2.py
/Lab3/Lab-3_G-3.py
/Lab3/Lab-3_G-4.py
/Lab3/Lab-3_G-5.py
/Lab3/Lab-3_G-6.py
/Lab3/Lab-3_G-7.py
/Lab3/Lab-3_H-1.py
/Lab3/Lab-3_H-2.py
/Lab3/Lab-3_H-3.py
/Lab3/Lab-3_H-4.py
